# Email settings (Gmail example)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="gadheseenu@gmail.com"
SMTP_PASS="vfmo ggxe mdai hfzz"  
SMTP_SECURE="false"


GEMINI_API_KEY="AIzaSyArYyZ-ezTPQOnqc6ctGnyc6SJIyRhvKsM"

APP_URL="http://localhost:3000"


